@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

/* @font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 600;
    src: url(/font/NotoSansCJKkr-Bold.woff2)
      format('woff2');
  }

  @font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 500;
    src: url(/font/NotoSansCJKkr-Light.woff2)
      format('woff2');
  }

  @font-face {
    font-family: "Noto Sans KR", sans-serif;
    font-style: normal;
    font-weight: 400;
    src: url(/font/NotoSansCJKkr-Regular.woff2)
      format('woff2');
  } */
